<div class="container">
  {{#each albums}}
  <div class="item-wrapper">
    {{#if images.0.url}}
    <img src="{{images.0.url}}" alt="photo for {{name}}">
    {{else}}
    <img src="https://sunset-radio.now.sh/images/placeholder.png" alt="missing photo for {{name}}">
    {{/if}}
    <p>{{name}}</p>
    <a href="/tracks/{{id}}">View Tracks</a>
  </div>
  {{/each}}
</div>